body {
	background-color: rgb(230, 230, 230);
	color: pink
	font-family: bakkali;
	font-size: 17px;
}
h1, h2, h3 {
	font-family: Bakkali;
}
h1 {
	color: blueviolet;
	font-size: 30px;
}
h2 {
	color: #02c5ff;
	font-size: 22px;
	font-weight: lighter;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: red;
	font-family: "Robot", sans-serif;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color:  yellow;
}

.container {
	width: 700px;
	margin: 40px auto;
	font-size: 17px;
}

@media (max-width:  760px)
{
	.container{
		width: 600px;
	}
}

@media (max-width:  500px)
{
	.container{
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}
.btn-blue{
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue: hover {
	background-color: black;
	color: whitesmoke;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 40px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 27px;
}s